<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet'
    type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

<body>
    <div class="testbox">
        <h1>Register new user</h1>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <label id="icon" for="name"><i class="icon-envelope "></i></label>
            <input type="text" name="name" id="name" placeholder="Username" required formControlName="username" />
            <label id="icon" for="name"><i class="icon-shield"></i></label>
            <input type="password" name="name" id="name" placeholder="Password" required formControlName="password" />
            <button class="button" type="submit">Register</button>
            <a href="/login">Go to login page</a>
        </form>
    </div>
</body>